<div class="main-container" [ngClass]="{'makeopaque':apptStatus}">
    <div class="doctors-wrapper">
        <div class="section-heading">
            <p>Meet Our Doctors</p>
        </div>
        <div class="doctor-container doctor1">
            <div class="content content1">
                <p class="name-text">Dr. Remya Warrier</p>
                <p class="credentials">BDS, MDS (Manipal)</p>
                <p class="specialization">Periodontist & Implantologist</p>
                <section class="brief brief-remya">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
                <section class="brief brief-remya">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
                <section class="brief brief-remya">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
                <section class="brief brief-remya">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
            </div>
            <div class="image">
                <img src="../../assets/images/Dr. Remya.jpeg" class="img-remya">
            </div>
        </div>
        <div class="doctor-container doctor2">
            <div class="image">
                <img src="../../assets/images/Dr.Adarsh.jpeg" class="img-adarsh">
            </div>
            <div class="content">
                <p class="name-text">Dr. Adarsh</p>
                <p class="credentials">BDS, MDS</p>
                <p class="specialization">Endotontist & Aesthetic Dentist</p>
                <section class="brief brief-adarsh">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
                <section class="brief brief-adarsh">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
                <section class="brief brief-adarsh">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
                <section class="brief brief-adarsh">Lorem ipsum dolor sit amet, consectetur adipiscing</section>
            </div>
        </div>
    </div>
</div>