<div class="services-container" [ngClass]="{'makeopaque':apptStatus}">
    <div class="services-heading">
        <p>Our Serivces</p>
    </div>
    <div class="services fade">
        <div class="service">
            <img src="../../assets/images/root-canal.png" class="s-image">
            <p class="service-name">Root Canal</p>
            <p class="sub-service-name">Single Sitting Treatment</p>
        </div>
        <div class="service">
            <img src="../../assets/images/baby-teeth.png" class="s-image">
            <p class="service-name">Children's Specialist</p>
        </div>
        <div class="service">
            <img src="../../assets/images/dental-implant.png" class="s-image">
            <p class="service-name">Teeth Replacement</p>
            <p class="sub-service-name">Fixed & Removable</p>
            <p class="sub-service-name">Implants</p>
        </div>
        <div class="service">
            <img src="../../assets/images/tooth-extraction.png" class="s-image">
            <p class="service-name">Tooth Extraction</p>
        </div>
        <div class="service">
            <img src="../../assets/images/gum.png" class="s-image">
            <p class="service-name">Bleeding Gum Treatment</p>
        </div>
        <div class="service">
            <img src="../../assets/images/laser.png" class="s-image">
            <p class="service-name">Lasers</p>
        </div>
        <div class="service">
            <img src="../../assets/images/braces.png" class="s-image">
            <p class="service-name">Teeth Alignment</p>
            <p class="sub-service-name">Orthodontics</p>
            <p class="sub-service-name">Invisible Braces</p>
        </div>
        <div class="service">
            <img src="../../assets/images/toothwhitening.png" class="s-image">
            <p class="service-name">Cosmetic Dentistry</p>
            <p class="sub-service-name">Smile Correction</p>
            <p class="sub-service-name">Teeth Whitening</p>
        </div>
    </div>
</div>
<!--
<div>Icon by Darius Dan from www.flaticon.com<div>
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>braces
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>babyteth
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> implant
<div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>tooth extraction
<div>Icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>bleeding gum
<div>Icons made by <a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>laser
-->