@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.navbar {
    height: 12vh;
    display: flex;
    background-image: linear-gradient(to right, #131124, #363062 );/*#cc0e74, #ad62aa*/
    z-index: 98;
}
.container {
    display: grid;
    grid-template-columns: 75% 25%;
}
.logo_container {
    padding-bottom: 5.54vh;
}
.circ-logo {
    margin-top: 1vh;
    zoom: 50%;
}
.logo-link {
    display: flex;
}
.logo {
    padding-left: 0.33vw;
    list-style: none;
    float: center;
    color: #fbdff0;
    padding-bottom: 2.77vh;
    margin-top: 1.1vh;
    z-index: 98;
}
.logo-name {
    z-index: 98;
}
.smile-logo {
    font-size: 26px;
    font-family: 'Audiowide';
    z-index: 98;
    text-align: center;
}
.warrier-logo {
    font-size: 26px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    text-align: center;
}
.menu-item {
    display: flex;
    list-style: none;
    float: left;
    color: #fbdff0;
    z-index: 98;
    position: relative;
}
.menu-link {
    color: #fbdff0;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 22px;
    transition: color 0.25s;
}
@media screen and (max-width: 960px) {
    .menu-link { 
        font-size: 18px;
    }
    .menu-item {
        display: inline-block;
    }
    .warrier-logo {
        font-size: 20px;
    }
    .smile-logo {
        font-size: 20px;
    }
    .circ-logo {
        margin-top: 2.5vh;
        zoom: 35%;
    }
}
.menu-link:hover {
    cursor: pointer;
    color: #d82283;
}
.about-menu {
    margin-right: 1.2vw;
}
.dropdown-container {
    width: 100%;
    display: none;
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dropdown-content {
    width: 80%;
    margin: auto;
}
.dropdown-container1, .dropdown-container2 {
    display: block;
}
.contact-menu-active, .about-menu-active {
    color: #d82283;
}
.content, .number, .email {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: 0.1rem;
}
.content {
    color: #363062;
}
.number, .email {
    color: #d82283;
}
.cancel {
    text-align: right;
    color: #363062;
}
.cancel:hover {
    cursor: pointer;
    color: #d82283;
}
a {
    text-decoration: none;
}
.makeopaque {
    opacity: 0.3;
}