<div class="footer-container" [ngClass]="{'makeopaque':apptStatus}">
    <div class="footer">
        <div class="logo">
            <section class="warrier">Warrier</section>
            <section class="smile">SMILE CLINIC</section>
        </div>
        <div class="contact">
            <p class="contact-heading">Contact</p>
            <div class="number">+91 7975896284</div>
            <div class="number">+91 8921999720</div>
            <div class="email">warriersmileclinic@gmail.com</div>
        </div>
        <div class="credits">
            <p class="credits-heading">Icons Made By</p>
            <div><a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div><a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div><a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div><a href="https://www.flaticon.com/authors/those-icons" title="Those Icons">Those Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
    </div>
</div>